


.main-layout {
  display: flex;              
  min-height: 100vh;          
  background-color: #f8f9fa; 
}

.sidebar {
  width: 220px;               
  background-color: #002f43; 
  color: white;
  padding: 30px 10px;
  display: flex;
  flex-direction: column;
}

.sidebar h4 {
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
   
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
  padding: 10px 20px;
}

.sidebar ul li a:hover {
  color: #cb9835;
}

.menu-divider {
  width: 100%;
  margin: 20px 20;
  border: none;
  border-top: 1px solid white;
  padding: 5px;
}

.bottom-menu a{
  padding: 5px 20px;
}

.bottom-menu a:hover {
  color: #cb9835;
}

.notification-bell {
  position: relative;
  display: inline-block;
}

.notification-bell .badge {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(30%, -30%);
  font-size: 0.75rem;
  padding: 0.35em 0.6em;
}

.offcanvas-head h4 {
  margin-bottom: 20px;
}

.offcanvas-body ul {
  list-style: none;
   
}

.offcanvas-body ul li a {
  color: #246ad0;
  padding: 10px 20px;
}

.offcanvas-menu a {
  color: #246ad0;
  padding: 5px 20px;
}

@media (max-width: 700px) { 
  .sidebar {
   display: none !important;
  }
}

.offcanvas.show ~ #sidebarToggleBtn {
  display: none !important;
}

.offcanvas-divider {
  width: 100%;
  margin: 20px 20;
  border: none;
  border-top: 1px solid #002f43;
  padding: 10px;
}

#sidebarToggleBtn {
  display: none;
}

@media (max-width: 700px) {
  #sidebarToggleBtn {
    display: block;
  }
  .sidebar {
    display: none !important;
  }
}

.main-content {
    flex-grow: 1; 
    padding: 35px;
    background-color: #dbdbdb;
    color: #000000;
    border-radius: 20px;
    overflow: auto;
}

.main-divider {
  width: 100%;
  margin: 20px 20;
  border: none;
  border-top: 1px solid #002f43;
}

.main-content h2 {
  margin-bottom: 20px;
  color: #002f43;
}

.card {
    min-width: 180px;
    max-width: 220px;
    border-radius: 20px;
    height: 250px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
}

.card-link {
  text-decoration: none;
}

.card-img-container {
    width: 100%;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #f8f9fa;
}

.card-img-top {
    width: 90%;
    height: 90%;
    object-fit: contain;  
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 15px;
}

.card-title {
    font-size: 1.1rem;
}

.card-text {
    font-size: 0.9rem;
    color: #555;
    flex-grow: 1;
}

@media (max-width: 900px) {
  .card {
    min-width: 150px;
    max-width: 100%;
  }
}


